.theme {
	background-color: #eff4ff;
	height: 25%;
	padding: 5%;
}

.justify-content-center {
	margin-left: -15px;
	width: calc(100% + 30px);
}

.education {
	padding-top: 50px;
	margin-left: 50px;
	margin-right: 20px;
}

.experience {
	padding-top: 50px;
	margin-left: 50px;
	margin-right: 20px;
}

.hobby {
	padding-top: 50px;
	margin-left: 50px;
	margin-right: 20px;
}

.menu {
	padding-top: 30px;
	margin-left: -20px;
}

.nav2 {
	padding-top: 20px;
}

.nav3 {
	padding-top: 20px;
}
